[submodule "Evil-Droid"]
	path = Evil-Droid
	url = https://github.com/M4sc3r4n0/Evil-Droid
[submodule "kwetza"]
	path = kwetza
	url = https://github.com/sensepost/kwetza
[submodule "Android_Kernel_CVE_POCs"]
	path = Android_Kernel_CVE_POCs
	url = https://github.com/ScottyBauer/Android_Kernel_CVE_POCs
[submodule "android_vuln_poc-exp"]
	path = android_vuln_poc-exp
	url = https://github.com/jiayy/android_vuln_poc-exp
